<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Docker</WebPublishMethod>
    <PublishProvider>FunctionsContainer</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://dojoapps-usr-attrb-svc.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/50047d52-45c4-41b0-b54e-3b058da08cf9/resourceGroups/dojo-apps/providers/Microsoft.Web/sites/dojoapps-usr-attrb-svc</ResourceId>
    <IsLinux>true</IsLinux>
    <ContainerResourceId>/subscriptions/50047d52-45c4-41b0-b54e-3b058da08cf9/resourceGroups/dojo-apps/providers/Microsoft.ContainerRegistry/registries/dojoapps</ContainerResourceId>
    <ContainerResourceName>dojoapps</ContainerResourceName>
    <Subscription>Microsoft Partner Network</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>dojoapps.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
  </PropertyGroup>
</Project>