<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://dojo-speech-svc.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/50047d52-45c4-41b0-b54e-3b058da08cf9/resourceGroups/dojo-apps/providers/Microsoft.Web/sites/dojo-speech-svc</ResourceId>
    <UserName>$dojo-speech-svc</UserName>
    <_SavePWD>true</_SavePWD>
    <ApiResourceId>/subscriptions/50047d52-45c4-41b0-b54e-3b058da08cf9/resourceGroups/dojo-apps/providers/Microsoft.ApiManagement/service/dojo-speech-svcapi/apis/dojo-speech-svc</ApiResourceId>
    <PublishUrl>https://dojo-speech-svc.scm.azurewebsites.net/</PublishUrl>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
  </PropertyGroup>
</Project>